/config/database.yml
/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.DS_Store
public/uploads/*
.idea/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
