<div class="ui small modal" data-modal-id="<%= modal_id %>">
  <h1 class="ui center aligned header">
    Sign Up or Login
  </h1>
  <div class="content">
    <div class="ui two column middle aligned very relaxed stackable grid">
      <div class="column">
      </div>
      <div class="ui vertical divider">
        Or
      </div>
      <div class="center aligned column">
        <%= link_to new_user_registration_path, class: "ui big green labeled icon button" do %>
          <i class="icon typcn typcn-lock-closed-outline"></i>
          Sign Up
        <% end %>
      </div>
    </div>
  </div>
</div>
