<div class="ui small modal" data-modal-id="<%= modal_id %>">
  <h1 class="ui center aligned header">
    Sign Up or Login
  </h1>
  <div class="content">
    <div class="ui two column middle aligned very relaxed stackable grid">
      <div class="column">
        <%= form_for @conn, session_path(@conn, :create), [as: :session, class: "ui form"], fn f -> %>
          <div class="field">
            <%= label f, :email %>
            <%= text_input f, :email %>
          </div>

          <div class="field">
            <%= label f, :password %>
            <%= password_input f, :password %>
          </div>

          <%= submit "Sign in", class: "ui primary button" %>
        <% end %>
      </div>
      <div class="ui vertical divider">
        Or
      </div>
      <div class="center aligned column">
        <a href="/signup" class="ui big green labeled icon button">
          <i class="icon typcn typcn-lock-closed-outline"></i>
          Sign Up
        </a>
      </div>
    </div>
  </div>
</div>
