= render 'left_sidebar'

.main
  .twelve.wide.column
    - if @room
      .ui.segment.feed
        div class="event"
          div class="label"
            img src="/favicon.ico"
          div class="content"
            div class="summary" Kriya Bot
            span class="date" Just Now
            #chat
            = render 'post_modal'
            = render 'rooms/chat_script'

    - else
      = render "goomp_bot/new_goomp"

/javascript:
  this.editor = new MediumEditor('#new-post-edit', {
    placeholder: {
      text: 'Start writing..',
      hideOnClick: true
    }
  });
  $('#new-post-edit').mediumInsert({
    editor: this.editor,
    addons: {
      images: {
        uploadCompleted: function($el, data) {
          var photo;
          photo = data.result.files[0];
          $("img", $el).data("delete-url", photo.delete_url);
          if (!($("#post_link_image").val().length > 0)) {
            return $("#post_link_image").val(photo.cover_url);
          }
        },
        fileUploadOptions: {
          url: "/photos"
        }
      }
    }
  });


