#messages data-room-id=@room.id = render @messages

= simple_form_for [@room, Message.new], remote: true do |f|
  = f.text_field :body, autofocus: true, autocomplete: 'off'
  = f.button :submit, "Send", data: {disable_with: "Send"}