extractURL = (textval) ->
  urlRegex = /\b((?:https?:\/\/|www\d{0,3}[.])(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s\`!()\[\]{};:\'\".,<>?«»“”‘’]))/img
  urlFinal = ''
  textval.replace(urlRegex, (url) -> urlFinal = url)
  urlFinal

filepickerKey = "Akt6oZj2YRamLQYtKyrhzz"

AppView = {
  initialize: ->
    $("#user_gender_female").off("change").on "change", @setFemaleAvatar
    $("#user_gender_male").off("change").on "change", @setMaleAvatar
    $("#post_body").off("input").on "input", @scrapeUrl
    $(".filepicker").off("click").on "click", @pickFile
    $("[data-modal]").off("click").on "click", @openModal.bind(this)
    $("#video-embed").off("input").on "input", @embedVideo
    $('form[method="get"][data-remote="true"]').off("submit").on "submit", @remoteSubmitGetForm
    $("[data-toggler]").off("click").on "click", @toggleToggler
    $(document).off("ajax:error").on "ajax:error", (event, xhr, status, error) ->
      console.log xhr.responseText
      console.log error

    $(document).off("turbolinks:before-cache").on("turbolinks:before-cache", @preparePageForTurbolinks)

    @initComponents()
    @initSemanticUI()
    @initEditor()
    @initInfinitePage()
    @initStripe()

  initStripe: ->
    key = $("meta[name=stripePublishableKey]").attr("content")

    $(".stripe-button").click (e) ->
      e.preventDefault()

      $button = $(e.target)
      goomp_id = $button.data("id")
      goomp_logo = $button.data("logo")

      handler = StripeCheckout.configure(
        key: key
        image: goomp_logo
        locale: 'auto',
        token: (token) ->
          $.post "/goomps/#{goomp_id}/join", token: token
          # You can access the token ID with `token.id`.
          # Get the token ID to your server-side code for use.
      )

      $(window).on 'popstate', -> handler.close()

      handler.open(
        name: $button.data("name")
        description: $button.data("description")
        amount: $button.data("amount")
      )

  initInfinitePage: ->
    $('.js-infinite').infinitePages
      debug: true
      loading: ->
        $(this).text('Loading next page...')
      error: ->
        $(this).button('There was an error, please try again')

  toggleToggler: (e) ->
    e.preventDefault()
    toggler_id = $(e.target).data("toggler")
    console.log toggler_id
    $(e.target).remove()
    $("[data-toggle-id=#{toggler_id}]").show()
    $("[data-toggle-id=#{toggler_id}] input").focus()

  pickFile: (e) ->
    e.preventDefault()
    if filepicker
      options = {}
      $el = $(e.target)

      dimension = $el.data("dimension")
      ratio = $el.data("ratio")
      if dimension
        options.cropDim = [parseInt(dimension.split(',')[0]), parseInt(dimension.split(',')[1])]

      if ratio
        options.cropRatio = ratio

      filepicker.pick(options, (Blob) ->
        $el.parent().find("img").attr("src", Blob.url)
        $el.parent().find("input[type=hidden]").val(Blob.url)
      )

  openModal: (e) ->
    e.preventDefault()

    modal_id = $(e.target).data('modal')
    if modal_id == "post-modal"
      $("[data-modal-id=#{modal_id}]").modal(
        detachable: false
      )

      cleanContent = ""
      for k,v in @editor.serialize()
        cleanContent = v.value
      console.log cleanContent

    $("[data-modal-id=#{modal_id}]").modal('show')

  initSemanticUI: ->
    $('.ui.sidebar').sidebar('attach events', '.sidebar-toggle')
    $('.ui.checkbox').checkbox()
    $('.ui.rating').rating(
      maxRating: 5
      onRate: (val) ->
        ratable_id = $(this).data("ratable")
        $("[data-ratable-id=#{ratable_id}]").val val
    )
    $('[data-ratable=false]').rating('disable')
    $('[data-unratable]').rating('disable')
    $('.ui.dropdown').dropdown(on: 'hover')
    $("#new_post").form(
      fields:
        body:
          identifier: 'post[body]'
          rules: [{
            type   : 'empty',
            prompt : 'Please enter content'
          }]
        goomp_id:
          identifier: 'dropdown'
          rules: [{
            type   : 'empty',
            prompt : 'Please choose a goomp'
          }]
    )
    $("#new_goomp").form(
      on: 'blur'
      fields:
        cover:
          identifier: 'goomp[cover]'
          rules: [{
            type   : 'empty',
            prompt : 'Please upload cover'
          }]
        name:
          identifier: 'goomp[name]'
          rules: [{
            type   : 'empty',
            prompt : 'Please enter name'
          }]
        description:
          identifier: 'goomp[description]'
          rules: [{
            type   : 'empty',
            prompt : 'Please enter description'
          }]
    )
    $("#new_user").form(
      on: 'blur'
      fields:
        cover:
          identifier: 'user[picture]'
          rules: [{
            type   : 'empty',
            prompt : 'Please upload avatar'
          }]
        firstName:
          identifier: 'user[first_name]'
          rules: [{
            type   : 'empty',
            prompt : 'Please enter first name'
          }]
        lastName:
          identifier: 'user[last_name]'
          rules: [{
            type   : 'empty',
            prompt : 'Please enter last name'
          }]
        gender:
          identifier: 'user[gender]'
          rules: [{
            type   : 'empty',
            prompt : 'Please choose gender'
          }]
        email:
          identifier: 'user[email]'
          rules: [{
            type   : 'empty',
            prompt : 'Please enter email'
          }]
        headline:
          identifier: 'user[headline]'
          rules: [{
            type   : 'empty',
            prompt : 'Please enter headline'
          }]
        password:
          identifier: 'user[password]'
          rules: [{
            type   : 'empty',
            prompt : 'Please enter password'
          }]
        passwordConfirmation:
          identifier: 'user[password_confirmation]'
          rules: [{
            type   : 'empty',
            prompt : 'Please confirm password'
          }]
    )

  setFemaleAvatar: ->
    url = ""
    val = $("#user_picture").val()
    if val.length == 0 || val.indexOf("default-male") > -1
      $("#user-avatar").attr("src", url)
      $("#user_picture").val(url)

  setMaleAvatar: ->
    url = ""
    val = $("#user_picture").val()
    if val.length == 0 || val.indexOf("default-female") > -1
      $("#user-avatar").attr("src", url)
      $("#user_picture").val(url)

  youtubeIframe: (vid) ->
    """
      <iframe width="480" height="270" src="https://www.youtube.com/embed/#{vid}?feature=oembed" frameborder="0" allowfullscreen></iframe>
    """

  vimeoIframe: (vid) ->
    """
      <iframe src="https://player.vimeo.com/video/#{vid}" width="640" height="360" frameborder="0" title="" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    """

  extractVideoID: (url) ->
    youtubeRegex = /(?:youtube\.com\/\S*(?:(?:\/e(?:mbed))?\/|watch\/?\?(?:\S*?&?v\=))|youtu\.be\/)([a-zA-Z0-9_-]{6,11})/
    vimeoRegex = /([a-z\:\/]*\/\/)(?:www\.)?vimeo\.com\/(?:channels\/[A-Za-z0-9]+\/)?([A-Za-z0-9]+)/
    iframe = null

    if url.length > 0
      youtubeMatch = url.match(youtubeRegex)

      iframe = if youtubeMatch
        vid = youtubeMatch[youtubeMatch.length-1]
        youtubeIframe(vid)
      else
        vimeoMatch = url.match(vimeoRegex)
        vid = vimeoMatch[2]
        vimeoIframe(vid)

    return iframe

  embedVideo: (e) ->
    e.stopPropagation()
    text = $(e.target).val()
    url = extractURL(text)

    loader = """
      <div class="ui text loader">Loading</div>
    """

    if url.length > 0
      $("#video-preview").html extractVideoID(url)

  scrapeUrl: (e) ->
    e.stopPropagation()
    $form = $("#post_body").parents("form")

    unless $("#post_link_url", $form).val().length > 0
      text = $("#post_body").val()

      url = extractURL(text)
      $("#post_link_url", $form).val url

      if url.length > 0
        # text = text.replace(url, '')
        # $("#post_body").val(text)

        $.ajax(
          url: "/scrapes.json"
          type: "post"
          data:
            url: url
          success: (link) ->
            $("#post_link_title", $form).val link.title
            $("#post_link_image", $form).val link.image
            $("#post_link_description", $form).val link.description
            $("#link-card").html link.card
          error: (resp) ->
            link = resp.data
            console.log 'err', link
        )

  initComponents: ->
    filepicker?.setKey filepickerKey

  preparePageForTurbolinks: ->
    # Make sure chat board is clear if user go back
    $("#chat").html "" if $("#chat").length > 0

    # $(".ui.modals").remove() if $(".ui.modals").length > 0
    $(".ui.modal").hide()

  remoteSubmitGetForm: (e) ->
    separator = if this.action.indexOf('?') == -1 then '?' else '&'
    Turbolinks.visit(this.action+separator+$(this).serialize())
    return false

  initEditor: ->
    @editor = new MediumEditor('.editable',
      placeholder:
        text: 'Type your text'
        hideOnClick: false
    )
    $('.editable').mediumInsert(
      editor: @editor
      addons:
        images:
          # label: '<span class="typcn typcn-camera"></span>'
          fileUploadOptions:
            url: "/photos"
        # embeds:
          # label: '<span class="typcn typcn-media-play"></span>'
    )
}

document.addEventListener "turbolinks:load", ->
  AppView.initialize()
