div class="ui segment feed"
  div class="event"
    div class="label"
      img src="/favicon.ico"
    div class="content"
      div class="summary" Goomp Bot
      span class="date" Just Now
      #chat
      div class="extra text"

javascript:
  new Chat(
    {
      greeting: [
        "Hi #{current_user.first_name}!",
        'Great work in creating a goomp.',
        'Take some time to decorate it with a cover photo etc. I will guide you through the rest of the set-up. ',
        {
          type: 'visit',
          answers: [{
            'text': "Upload Cover Photo",
            'path': '#{edit_goomp_path(goomp)}'
          }]
        }
      ]
    }, {
      targetNode: '#chat'
    }
  )