div class="main"
  div class="ui segment feed"
    div class="event"
      div class="label"
        img src="/favicon.ico"
      div class="content"
        div class="summary" Kriya Bot
        span class="date" Just Now

        #chat
        div class="extra text"

javascript:
  new Chat({
    greeting: [
      'Welcome to Kriya. We are pleased to have you here. Please tell us what you are looking for?',
      {
        type: 'choose',
        answers: [{
          'text': 'Login',
          'path': 'login'
        },
        {
          'text': 'Show Me Options',
          'path': 'options'
        }]
      }
    ],

    options: [
      'Of course! I am Kriya, here to help you in getting your work done with a full refund guarantee. I have a workforce of people who will help me accomplish your tasks. Please choose from the following options to get started -',
      {
        type: 'choose',
        answers: [{
          'text': 'Engineering',
          'path': 'signup'
        },
        {
          'text': 'Product',
          'path': 'signup'
        },
        {
          'text': 'Design',
          'path': 'signup'
        },
        {
          'text': 'Sales',
          'path': 'signup'
        },
        {
          'text': 'Marketing',
          'path': 'signup'
        }
        ]
      }
    ],

    signup: [
      'Sounds good, please sign up through the following options and give us more inputs',
      {
        type: 'visit',
        answers: [{
          'text': 'Twitter',
          'path': '/users/auth/twitter'
        },{
          'text': 'Facebook',
          'path': '/users/auth/facebook'
        },{
          'text': 'LinkedIn',
          'path': '/users/auth/linkedin'
        }]
      }
    ],

    login: [
      'Sounds good, please login to get to all the tasks',
      {
        type: 'visit',
        answers: [{
          'text': 'Twitter',
          'path': '/users/auth/twitter'
        },{
          'text': 'Facebook',
          'path': '/users/auth/facebook'
        },{
          'text': 'LinkedIn',
          'path': '/users/auth/linkedin'
        },{
          'text': 'Email',
          'path': '/users/sign_up'
        }]
      }
    ]
  }, {
    targetNode: "#chat"
  })