div class="main"
  div class="ui segment feed"
    div class="event"
      div class="label"
        img src="/favicon.ico"
      div class="content"
        div class="summary" Kriya Bot
        span class="date" Just Now

        #chat
        div class="extra text"

javascript:
  new Chat({
    greeting: [
      'Welcome to Kriya. We are pleased to have you here. Please select from the following options ',
      {
        type: 'choose',
        answers: [{
          'text': 'Login',
          'path': 'login'
        },
        {
          'text': 'Show Me Options',
          'path': 'options'
        }]
      }
    ],

    options: [
      'Of course! I am Kriya, here to help get your work done with a full refund guarantee! I will get it done through a large workforce of people who are excited in accomplishing your tasks. Please choose one of the following -',
      {
        type: 'choose',
        answers: [{
          'text': 'Engineering',
          'key': 'type',
          'path': 'signup'
        },
        {
          'text': 'Product',
          'key': 'type',
          'path': 'signup'
        },
        {
          'text': 'Design',
          'key': 'type',
          'path': 'signup'
        },
        {
          'text': 'Sales',
          'key': 'type',
          'path': 'signup'
        },
        {
          'text': 'Marketing',
          'key': 'type',
          'path': 'signup'
        }
        ]
      }
    ],

    signup: [
      'Sounds good, please sign up to help us understand about you',
      {
        type: 'visit',
        answers: [{
          'text': 'Twitter',
          'path': '/users/auth/twitter'
        },{
          'text': 'Facebook',
          'path': '/users/auth/facebook'
        },{
          'text': 'LinkedIn',
          'path': '/users/auth/linkedin'
        }]
      }
    ],

    login: [
      'Cool, please login to get to your tasks',
      {
        type: 'visit',
        answers: [{
          'text': 'Twitter',
          'path': '/users/auth/twitter'
        },{
          'text': 'Facebook',
          'path': '/users/auth/facebook'
        },{
          'text': 'LinkedIn',
          'path': '/users/auth/linkedin'
        },{
          'text': 'Email',
          'path': '/users/sign_up'
        }]
      }
    ]
  }, {
    targetNode: "#chat"
  })