meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
title TaskForce

= csrf_meta_tags
/ = display_meta_tags site: 'Goomp', reverse: true

script src="https://checkout.stripe.com/checkout.js"
meta name="stripePublishableKey" content=Rails.application.secrets.stripe_key

= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
