meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
title Kriya

= csrf_meta_tags
/ = display_meta_tags site: 'Goomp', reverse: true
script src="https://checkout.stripe.com/checkout.js"
meta name="stripePublishableKey" content=Rails.application.secrets.stripe_key
meta property="og:title" content="The AI powered messaging bot that helps work done for cheaper, faster and better!"
meta property="og:description" content="Hi, I am Kriya. Welcome! I am an AI powered bot that helps you get your work done through high quality, cost effective freelancers across the world"
meta property="og:image" content="https://res.cloudinary.com/dyhdmrsdc/image/upload/c_scale,w_500/v1474398617/Kriya-11-01_sn25uz.jpg"
meta property="title" content="The AI powered messaging bot that helps work done for cheaper, faster and better!"
meta property="description" content="Hi, I am Kriya. Welcome! I am an AI powered bot that helps you get your work done through high quality, cost effective freelancers across the world"

= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
